*{
    margin:0;
    padding:0;
    text-align:center;
}

h1{
    background-color:#081b31;
    color:white;
    height:5rem;
    line-height: 5rem;
}

.choice{
    height:200px;
    width:200px;
    border-radius:1px;
    margin-left: 4px;
    margin-right: 4px;
    display:flex;
    justify-content: center;
    align-items: center;
}


.choice:hover{       
    cursor:pointer;
    background-color: #081b31;
}


img{
    height:155px;
    width:200px;
}

.choices{
    display:flex;
    justify-content:center;
    align-items: center;
    gap: 3rem;
    margin-top: 3rem;

}

.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 5rem;
    gap:5rem;
}

#user-score,
#comp-score{
    font-size:4rem;
    
}

.message-container{
     margin-top:5rem;
}
#msg{
    background-color: black;
    color:white;
    font-size:2rem;
    padding:2rem;
    display:inline; 
    border-radius: 1rem;
}